body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    width: calc(100% - 16px);
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #0056b3;
}

#adsList li {
    background-color: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#adsList li div {
    display: flex;
    align-items: center;
}

#adsList li button {
    background-color: #dc3545;
}

#adsList li button.edit {
    background-color: #28a745;
}

#adsList li button.edit:hover {
    background-color: #218838;
}

#adsList li button.delete:hover {
    background-color: #c82333;
}

p {
    margin-left: 100px;
}